<mat-card class="card">
  <mat-card-header>
    <mat-card-title>Algo Visualizer</mat-card-title>
    <mat-card-subtitle>Created By Prashant Neupane</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p id="card-content">
      Select options from below to visualize the Algorithm.
    </p>
  </mat-card-content>
</mat-card>
<nav>
  <a routerLink="/pathfinder" routerLinkActive="active">PathFinder</a>
</nav>
<nav>
  <a routerLink="/sorting" routerLinkActive="active">Sorting</a>
</nav>
<router-outlet></router-outlet>